<h1 class="col-md-12">All GIFs</h1>
<% @gifs.each_with_index do |gif, index| %>
  <%= content_tag :div, class: "col-md-4 text-center" do %>
    <% if current_user && !current_admin? %>
      <%= content_tag :div, class: "col-md-12 text-center" do %>
         <h1>Click on any GIF to mark as a favorite</h1>
      <% end %>
      <%= link_to image_tag(gif.image_path), user_gifs_path(current_user, id: gif.id), method: :post, class: "#{gif.category.name}-image-#{index + 1}" %>
    <% else %>
      <%= image_tag(gif.image_path) %>
    <% end %>
  <% end %>
<% end %>
